<!DOCTYPE html>
<html>
<head>
	<title>Regrese pronto</title>
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<h1>Regrese pronto</h1>
<a href="/">Iniciar sesión</a>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">
<hr>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p>Elisa Monzon</p>
    <br>
    © 2020 Copyright: <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>   
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>