{% extends 'base.html' %}

{% block content %}
<body>
    <div class="page-header">
        <a href="{% url 'fabric_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <h2>Lista de Fabricas</h2>
    </div>
     <form method="get">
        <div id="custom-search-input">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value = "{{ request.GET.buscar }}">
                <button type="submit" class="boton btn-success">Buscar</button>
            </div>
        </div>
    </form>
    <ul>
    {% for fabrics in fabricas %}
    	<li>NOMBRE: {{fabrics.nombre}}</li>
        <p>UBICACION: {{fabrics.ubicacion}}</p>
    {% endfor %}
    </ul>
{% endblock %}