{% extends 'base.html' %}

{% block content %}
<body>
    <div class="page-header">
    <h2>Lista de Fabricas</h2>
    <a href="{% url 'fabric_new' %}" class="top-menu">Nuevo<span class="glyphicon glyphicon-plus"></span></a>
    </div>

    <form method="get">
        <div id="custom-search-input">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value = "{{ request.GET.buscar }}">
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        </div>
    </form>

<table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicacion</th>
            <th>IP</th>
            <th>Puerto de Conexion</th>
        </tr>
        </thead>
        <tbody>
            {% for fabrics in fabricas %}
            <tr>
                <td>{{fabrics.nombre}}</td>
                <td>{{fabrics.ubicacion}}</td>
                <td>{{fabrics.IP}}</td>
                <td>{{fabrics.puerto_conexion}}</td>
                <td>
                    <a class="btn btn-warning">Editar</a>
                    <a class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}

