<html>
    <head>
        <title>Facturacion</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
<div class="container">
        <h1><a href="/clientes/clientes">Facturas</a></h1>
                <a href="/logout">Cerrar sesión</a>
        <br>
    </div>
    <div class="container mt-4">
            {% block content %}
            {% endblock %}
    </div>
    </body>
<!-- Footer -->
<footer class="page-footer font-small blue">
<hr>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p>Elisa Monzon</p>
    <br>
    <a href="{% url 'product_list' %}" class="btn btn-primary">Productos</span></a>    
    <a href="{% url 'clientes_list' %}" class="btn btn-primary">Clientes</span></a>      
    <a href="{% url 'facturas_list' %}" class="btn btn-primary">Facturar</span></a>
    <br>
    © 2020 Copyright: <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>   
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>