{% extends 'base2.html' %}

{% block content %}
<body>

<div class="container mt-4">
     <div class="card">
            <div class="card-header">
                <h2>Facturar detalle</h2>
            </div>

    <form method="POST" class="post-form">{% csrf_token %}
        {{ formdetail.as_p }}
        <button type="submit" class="btn btn-success">Save</button>
    </form>
    
    <a href="{% url 'factura_new' %}" class="btn btn-primary">Regresar</span></a>
    <a href="{% url 'factura_detail' %}" class="btn btn-warning">Listado Detalle</span></a>
   </div>
</div>
{% endblock %}