{% extends 'base2.html' %}

{% block content %}
<body>
    <div class="page-header">
    <h2>Facturas</h2>
    <a href="{% url 'factura_new' %}" class="top-menu">Nueva factura<span class="glyphicon glyphicon-plus"></span></a>
    </div>
     <form method="get">
        <div id="custom-search-input">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value = "{{ request.GET.buscar }}">
                <button type="submit" class="boton btn-success">Buscar</button>
            </div>
        </div>
    </form>
<table class="table">
        <thead>
        <tr>
            <th>Serie</th>
            <th>Numero</th>
            <th>Nit</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Vendedor</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td>{{factura.serie}}</td>
                <td>{{factura.numero}}</td>
                <td>{{factura.nit}}</td>
                <td>{{factura.fecha}}</td>
                <td>{{factura.total}}</td>
                <td>{{factura.vendedor}}</td>
                <td>
                    <a class="btn btn-success" href="{% url 'factura_detail' %}">Detalle<span class="glyphicon glyphicon-eye-open"></a>
                    <a class="btn btn-warning">Editar</a>
                    <a class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}