<html>
    <head>
        <title>Facturacion</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
<div class="container">
        <h1><a href="/clientes/clientes">Vender</a></h1>
                <a href="/logout">Cerrar sesión</a>
                <hr>
    <a href="{% url 'product_list' %}" class="btn btn-primary">Productos</span></a>    
    <a href="{% url 'clientes_list' %}" class="btn btn-primary">Clientes</span></a>       
    <a href="{% url 'ordenes' %}" class="btn btn-primary">Vender</span></a>
    <a href="{% url 'pedidos' %}" class="btn btn-primary">Pedidos</span></a>
    <hr>
    <a href="{% url 'ordenes' %}" class="btn btn-info">Ordenes</span></a>    
    <a href="{% url 'detalleorden' %}" class="btn btn-info">Detalle Ordenes</span></a>       
    <a href="{% url 'facturas' %}" class="btn btn-info">Facturas</span></a>       
    <a href="{% url 'compracredito' %}" class="btn btn-info">Compra Credito</span></a>
        <br>
    </div>
    <div class="container mt-4">
            {% block content %}
            {% endblock %}
    </div>
    </body>
<!-- Footer -->
<footer class="page-footer font-small blue">
<hr>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p>Elisa Monzon</p>
    
    © 2020 Copyright: <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>   
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>