{% extends 'base1.html' %}

{% block content %}
<body>
    <div class="page-header">
    <h2>Lista de Clientes</h2>
    <a href="{% url 'clientes_new' %}" class="top-menu">Nuevo<span class="glyphicon glyphicon-plus"></span></a>
    </div>
     <form method="get">
        <div id="custom-search-input">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value = "{{ request.GET.buscar }}">
                <button type="submit" class="boton btn-success">Buscar</button>
            </div>
        </div>
    </form>
<table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>NIT</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Patente</th>
            <th>Tipo de Cliente</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{cliente.id}}</td>
                <td>{{cliente.nit}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.telefono}}</td>
                <td><img src="{{ cliente.patente.url}}"></td>
                <td>{{cliente.tipo}}</td>
                <td>
                    <a class="btn btn-warning">Editar</a>
                    <a class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>


{% endblock %}
