{% extends 'base1.html' %}

{% block content %}
<body>
    <div class="page-header">
    <h2>Lista de productos y carros compatibles</h2>
    <a href="{% url 'descuento_new' %}" class="top-menu">Nuevo<span class="glyphicon glyphicon-plus"></span></a>
    </div>
     <form method="get">
        <div id="custom-search-input">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value = "{{ request.GET.buscar }}">
                <button type="submit" class="boton btn-success">Buscar</button>
            </div>
        </div>
    </form>
<table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% for objeto in objetos %}
            <tr>
                <td>{{objeto.id}}</td>
                <td>{{objeto.nombre}}</td>
                <td>{{objeto.descripcion}}</td>
                <td>
                    <a class="btn btn-warning">Editar</a>
                    <a class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}
